// 플로트를 클리어합니다
%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// 네이티브 스크롤 바를 아름답게합니다
%scrollbar {
  // 전체 스크롤 바
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  // 스크롤 막대에서 슬라이더 스크롤
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #90939955;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #90939977;
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: #90939999;
  }
  // 수직 스크롤 막대와 수평 스크롤 막대의 교차점이 동시에 있습니다.
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

// 텍스트가 넘치면 엘리시 시스를 표시합니다
%ellipsis {
  // 오버플레이션 텍스트를 숨 깁니다
  overflow: hidden;
  // 텍스트 포장을 방지합니다
  white-space: nowrap;
  // 텍스트 콘텐츠가 컨테이너에서 오버플로 흐르면 텍스트 끝에 타원이 표시됩니다.
  text-overflow: ellipsis;
}
